body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

canvas {
    border: 5px solid black;
}
.option-container {
    display: flex;
    align-items: flex-start;
}
.color-options {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 50px);
}
.color-option {
    cursor: pointer;
}
