.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}
.recommended-friends__title {
  font-size: 14px;
  color: var(--half-color);
}
.recommended-friends span {
  font-size: 18px;
  margin: 100px 0px;
  display: block;
  text-align: center;
  color: var(--half-color);
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}
.open-chat__header span {
  opacity: 0.6;
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.open-post__title {
  font-weight: 600;
  margin-bottom: 10px;
}
.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}
.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}
.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}
.open-post__members .divider {
  width: 2px;
  height: 15px;
  margin: 0px 5px;
  background-color: var(--half-color);
}
.open-post__member-status {
  color: #ffb0e0;
}
.open-post__photo {
  position: relative;
}
.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.open-post__heart_count {
  background-color: var(--half-color);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}
.open-post__heart_count span {
  margin-left: 3px;
}

@keyframes hearthBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
  }
}
.open-post__heart_count:hover i {
  /*
  will-change 사용 전/후 비교해보면 하트 에니메이션 동작이 명확히 차이남
  브라우저에게 변화지점을 명확히 말해줌
  브라우저가 컴퓨터의 그래픽카드를 이용해 애니메이션 가속화
  */
  will-change: transform;
  animation: hearthBeat 2s linear infinite;
}
.user-component__warning {
  color: tomato;
}
