.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 52px var(--horizontal-space) var(--horizontal-space)
    var(--horizontal-space);
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 20px;
}
