body {
    background-color: antiquewhite;
}
.father {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}
.child {
    background-color: blue;
    flex-basis: 100px;
    /* height: 100px; */

    color: white;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    
}

.child:nth-child(2) {
    background-color: blueviolet;
}