.grid {
    display: grid;
    gap: 5px;
    height: 50vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: stretch;
    justify-items: stretch;
    place-items: stretch center;
}
.header {
    background-color: chartreuse;
    
    
}
.content {
    background-color: cornflowerblue;
    
}
.nav {
    background-color: blueviolet;
    
}
.footer {
    background-color: coral;
    
}