body {
    background-color: antiquewhite;
}
.father {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 100px 50px 300px;
    column-gap: 10px;
    row-gap: 10px;
}
.child {
    background-color: blue;
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    
}