.alt-header {
    padding: var(--horizontal-space);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.55em;
}
.alt-header__column {
    width: 33%;
    align-items: center;
}
.alt-header__column:nth-child(2) {
    display: flex;
    justify-content: center;
    font-weight: 900;
}
.alt-header__column:last-child {
    display: flex;
    justify-content: flex-end;
}
.alt-header__column span:last-child {
    margin-left: 20px;
}