.badge {
        background-color: tomato;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        color: white;
        font-size: 0.6em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
}

.dot {
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    position: absolute;
    top: 8px;
    right: -5px;
}
.dot2 {
    top: -5px;
    right: 28px;
}
.dot3 {
    top: -1px;
    right: -7px;
}